<%- include('../partials/header') %>
   <h2><%=title%></h2>
    <p><img class="pic" src="images/Tigray.jpg" </p>
    <p>Tigray is the northernmost region of the second most populous country of Africa, Ethiopia. It is landlocked and bordered by Eritrea, Sudan, and the Afar and Amhara regions of Ethiopia.</p>
    <p>Tigray is known for its mountainous terrains that have often helped the people protect their territory from invaders, such as the Greeks, the Turkish, and the Italians.</p>
    <p>The region is the 5th largest state in Ethiopia based on size and population size out of ten states, and it is roughly comparable in size to Costa Rica.</p>
    <p>Mekelle is the current provincial capital and was home to Emperor Yohannes IV, who once ruled Ethiopia in the late 1800s. It served as the mecca of northern trade but now serves as an intellectual and political hub. Other key towns in Tigray are Adigrat, Adwa, Axum, Shire, Humera, Wukro, Abiy Adi, and Alamata.</p>
    <%- include('../partials/footer') %>