<%- include('../partials/header') %>
   <h2><%=title%></h2>
    <p><img class="pic" src="images/Tigray conflict.jpg" </p>
    <p>Ethiopia was struggling with significant economic, ethnic and political challenges long before a feud between the federal goverment and the region's former ruling party, the Tigray People's Liberation Front (TPLF), bubbled over into unrest.</p>
    <p>In federal goverment drive for a new pan-Ethiopian political party, the polices sparked fears in some regions that the country's federal system -- which guarantees significant autonomy to ethnically-defined states such as Tigray -- was under threat. Leaders in Tigray withdrew to their mountainous heartland in the north, where they continued to control their own regional government.</p>
    <p>Tensions boiled over in September 2020, when the Tigrayans defied Abiy by going ahead with regional parliamentary elections that he had delayed due to the coronavirus pandemic. Abiy called the vote illegal and lawmakers cut funding to the TPLF leadership, setting off a tit-for-tat series of escalations between the regional and the federal gov</p>
    <p>On November 4, 2020, after accusing the TPLF of attacking a federal army base outside Tigray's regional capital Mekelle and attempting to steal its weapons, Abiy ordered a military assault against the group, sending in national troops and fighters from the neighboring region of Amhara, along with soldiers from Eritrea.</p>
    <%- include('../partials/footer') %>